// Mixins in here
.border() {
  border-top: 2px dashed silver;
}

.buttons() {
  background: @eastern-blue;
  font-size: 1.5rem;
  padding: 1.2rem;
  border-radius: 1rem;
  color: @white;
  text-align: center;
  width: 80%;
}
